@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


body {
    position : fixed;
    width: 100%;
    height: 100%;
    margin: 0;
}

.container_i {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;
    width: 100%;
    height: 100%;
    background: url(Fond.jpg) center no-repeat fixed;

}
.container_i::after {
    position: fixed;
    z-index: inherit;
    top: 0;
    left: 0;

    content: "";
    width: 100%;
    height: 100%;

    background-color: rgba(34, 34, 34, 0.205);
}

.formContainer_i {
    position: fixed;
    z-index: 2; /*deuxieme plan*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
    height: 70%;
    min-height: 55%;
    background-color: #eee;
    box-shadow: 7px 4px 19px -2px rgba(0, 0, 0, 0.75);/*ombre*/

    display: flex;
    flex-wrap: nowrap;
}

.sliderSection_i {
    background: url(snatch2.jpg) center no-repeat fixed;
    position: relative;
    width: 50%;
    height: 100%;
}

.sliderSection_i img {
    width: 100%;
    height: 100%;
}


.formSection_i {
    position: relative;
    width: 50%;
    height: 100%;
    padding: 2% 4%;/*ecart marge zone text*/

    font-family: Cambria;
}

.formSection_i > * {
    margin: 2% 0%;/*espace marge texte a rentrer*/
}

.formSection_i h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 5%;/*espace apres le titre*/
    font-weight :bold;
}

.formSection_i h4 {
    text-align: center;
    margin: 0% 0%;/*marge titre suivez...*/
}

.inputRow_i {
    width: 100%;
    height: 5%;

    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 100px;
    overflow: hidden;
}

.inputRow_i .inputIncon_i { /*Modification icone mail et mot de passe*/
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130%;
}

.inputRow_i input { /*Modification zone de texte mail et mot de passe*/
    width: 85%; 
    padding: 1% 2%;
    position: center;
    border: none;
    outline: none;
    border-left: 1px solid rgba(34, 34, 34, 0.116);

    font-style: italic;
    font-size: 100%; /*Taille ecriture texte mail et mot de passe*/
}

.row_i { /*Espace entre mot de passe oublé et connexion*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%; 
}


.btnRow_i { /*Espace entre innscription et connexion*/
    display: flex;
    justify-content: space-evenly
}

.btn_i {
    border-radius: 50px;
    border: none;
    box-shadow: 2px 2px 5px -4px rgba(0, 0, 0, 0.75);
    padding: 2% 30%;

    min-width: max-content;
    min-height: max-content;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    font-size: 140%;
    font-family: "Cambria";
    cursor: pointer;

    transition: all ease-in-out 20ms;
}

.btn_i:hover {
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.75);
}

.btnGroup_i { /*Modification bouton fb inst in*/
    width: 2%;
    justify-content: left;

    padding: 1% 0%;
    padding-left: 0.5em;
    font-size: 1px;
}

.btnGroup_i img {
    width: 110%;
    height: 110%;
    max-width: 100%;
}

#loginBtn_i{
    background: #76b852;/* fallback for old browsers */
    background: -moz-linear-gradient(to right, #8DC26F, #76b852);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#8DC26F,#76b852);
}

#signupBtn_i {
    background: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
}
